body{
    background-image: url("fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}